<div class="card">
  <div class="card-body">
    <h1>Track a stock</h1>
    <form [formGroup]="addStockForm" [class.submitted]="submitted">
      <div class="mb-3">
        <label for="stockInput" class="form-label"
          >Enter the symbol of a stock to track (ie. AAPL, TSLA, GOOGL)</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="stockSymbol"
          id="stockInput"
          placeholder="AAPL"
        />
        <p
          *ngIf="submitted && addStockForm.get('stockSymbol')?.invalid"
          class="error"
        >
          Stock symbol should be 1 to 5 letters.
        </p>
      </div>
      <div class="col-auto">
        <button
          type="submit"
          class="btn btn-primary mb-3"
          id="trackBtn"
          (click)="addStock()"
        >
          Track stock
        </button>
      </div>
    </form>
  </div>
</div>
